<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Treino {{ treino_id }}</title>
<link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="container">
    <h1>Treino {{ treino_id }}</h1>
    <div class="timer">
    Tempo total do treino: <span id="timerGeral">00:00</span>
    </div>
    <div class="cards">
        {% for ex in exercicios %}
        <div class="card">
            <a href="execucao.html?treino={{ treino_id }}&exercicio={{ ex | urlencode }}">{{ ex }}</a>
        </div>
        {% endfor %}
   <div class="button-container">
    <a href="index.html">
        <button id="voltarBtn" class="btn-voltar">
            🔙 Voltar
        </button>
    </a>
    </div>
</div>
<script src="script.js"></script>
</body>
</html>
